@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.home__page {
  height: 87vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.login__message {
  display: flex;
  flex-direction: column;
}

.login__message > h2 {
  font-size: 80px;
  margin: 0;
}
.login__message > h1 {
  margin: 10px auto;
  margin-top: 0;
  font-weight: 900;
  width: 80%;
  line-height: 1em;
  letter-spacing: -4px;
  color: rgb(17, 17, 17);
  font-size: 100px;
  text-decoration: underline;
}
.login__message p {
  padding: 15px 0;
  line-height: 1.5;
  width: 50%;
  margin: auto;
  font-size: 16px;
}
.login__button {
  width: 300px;
  margin: 15px auto 0px auto;
  padding: 15px 0;
  border: none;
  background: rgb(17, 17, 17);
  font-family: "Inter";
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  background-color: #1b1b1b;
  height: 13vh;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.navbar__header {
  font-size: 20px;
  font-weight: 700;
}

.navbar__userdata {
  display: flex;
  align-items: center;
}

.logout__button {
  margin-left: 20px;
  padding: 12px 25px;
  border-radius: 50px;
  border: none;
  font-size: 14px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  background: rgb(39, 39, 39);
}
.signedIn,
.notSignedIn {
  font-size: 15px;
  padding-left: 10px;
  cursor: pointer;
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid rgb(0, 255, 234);
}
.blog__search {
  flex: 1;
  width: 100%;
  display: flex;
  margin: 0 70px;
  padding: 10px 0;
  border-radius: 5px;
  justify-content: space-between;
  background: rgb(39, 39, 39);
}
.search {
  width: 80%;
  background: none;
  outline: none;
  border: none;
  color: white;
  padding: 5px 30px;
}
.submit {
  width: 18%;
  outline: none;
  padding: 12px 0;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 14px;
  margin-right: 10px;
  transition: 0.1s ease-in-out;
  background: rgb(31, 31, 31);
  border: none;
}
.blog__page {
  padding: 30px 170px;
}
.blog__page__header {
  font-size: 35px;
  letter-spacing: -1px;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 40px 0;
}

.blog {
  min-width: 300px;
  margin: auto;
  background: white;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  height: 100%;
  text-decoration: none;
  color: black;
}

.blog > div {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  padding: 0px 30px 0px 30px;
}

.blog > img {
  width: 100%;
}

.sourceName > span {
  display: inline;
  background: rgba(38, 0, 128, 0.226);
  font-size: 11px;
  padding: 5px 6px;
  color: rgba(0, 11, 43, 0.534);
  border-radius: 3px;
}

.sourceName > p {
  font-size: 10px;
  font-weight: 500;
  padding-left: 10px;
}

.sourceName {
  display: flex;
  align-items: center;
}

.blog > div > h1 {
  font-size: 25px;
  letter-spacing: -0.6px;
  line-height: 1.3em;
  padding: 10px 0;
  font-weight: 700;
  text-decoration: underline;
}

.blog > div > p {
  font-size: 13px;
  line-height: 1.6em;
  color: rgb(90, 90, 90);
  padding-bottom: 30px;
}

.no__blogs {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.5em;
}
